*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
	font-family: 'Montserrat';
	font-size: 22px;
	text-align: center;
	margin-top: 20px;
}
h2{
	font-family: 'Montserrat';
	font-size: 20px;
	padding:15px 0;
}
h3{
	font-family: 'Montserrat';
	font-size: 16px;
}
.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
img{
	width: 300px; 
	height: 300px; 
	border-radius: 80%;
	margin-right: 20px;
}
.grid{
    display: grid;
    grid-gap: 1.5rem;
}
.header{
	margin: 0;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header ul{
	float: right ;
	list-style-type:none ;
	margin-top: 20px;
	font-size: x-large;
	padding-right: 20px;
}
header ul li{
	display: inline-block;
}
header ul li a{
	text-decoration: none;
	text-align: center;
	color: #C26DBC;
	margin: 0 10px;
	padding: 14px, 16px;
	transition: 0.6s ease;
}
header ul li a:hover{
	background-color: white;
	color: black;
}
.name{
    float: left;
    color: #C26DBC;
    padding-left: 20px;
    margin-top: 20px;
    font-size: x-large;
}
.home{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 50px;
	background-color: #f0f0f0;
	margin-top: 10px;
	height:90vh;
	overflow: hidden;
}
.home p{
	font-family: 'Montserrat';
	font-size: 18px;
}
.social_icon{
	padding-left:20px;
	font-size: xxx-large;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C26DBC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-button:hover {
    background-color: black;
}

.skills-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	padding: 20px;
}

.card {
	background-color: #f0f0f0;
	padding: 20px;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

.card-details {
	display: none;
	margin-top: 10px;
}

.card.selected .card-details {
	display: block;
}
.projects{
	padding: 0 50px;
}
.prow { 
	gap: 10px; 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 2rem 0; 
} 
.prow .pcol { 
	text-align: center; 
	width: 35%; 
} 
.pcard { 
    padding: 0; 
    background: none; 
    border: 1px solid #000; 
	text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border-radius: 20px; 
    padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.pcol{
	float: left;
	width: 33.3%;
}
.contact-info {
	display: flex;
	margin: 3rem 0; 
    justify-content: space-between; 
  }
.contact-form form {
	display: flex;
	flex-direction: column;
}
.contact-details,
.contact-form {
    width: 48%;
	font-family: 'Montserrat';
}
input, select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	font-family: 'Montserrat';
  }
input[type=submit] {
	background-color: #C26DBC;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }
  
input[type=submit]:hover {
	background-color: black;
  }
.contacts{
	padding-top: 50px;
}
.contact{
	margin:0 50px;
}
.footer{
	text-align: center;
  	padding: 1rem 0;
	border-top: 1px solid #333; 
	background-color: #f0f0f0;
}